.grid-wrapper {
  margin: 0 100px;
}

.gridTable {
  width: 100%;
  border-spacing: 0;
  border-collapse: separate;
}

.gridTable thead tr th {
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
  border-bottom: 1px solid #333;
  padding: 5px 10px;
  color: var(--white);
}

.gridTable thead tr th .value {
  float: left;
}

.gridTable thead tr th .type {
  float: right;
}

.gridTable tbody tr td {
  padding: 10px;
  font-size: 12px;
  font-weight: 400;
  border-bottom: 1px solid #333;
}

.gridTable tbody tr td a {
  text-decoration: none;
  color: inherit;
}

.gridTable tbody tr:hover td {
  background-color: var(--yellow);
  color: var(--black);
}

.gridTable .btn {
  padding: 5px;
  text-decoration: underline;
}

.navigation-btn {
  font-size: 0.6em;
}

.navigation-btn:disabled {
  color: var(--white);
  border: 2px solid var(--white);
}

.navigation-btn:disabled:hover {
  cursor: default;
  background-color: var(--white);
  color: var(--black);
}
