.grid-wrapper {
  margin: 0 100px;
}

.gridTable {
  width: 100%;
  border-spacing: 0;
  border-collapse: separate;
}

.gridTable thead tr th {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  border-bottom: 1px solid #333;
  padding: 5px 10px;
  color: var(--white);
}

.gridTable tbody tr td {
  padding: 10px;
  font-size: 16px;
  font-weight: 400;
  border-bottom: 1px solid #333;
}

.gridTable tbody tr td a {
  text-decoration: none;
  color: inherit;
}

.gridTable tbody tr:hover td {
  background-color: var(--yellow);
  color: var(--black);
}

.gridTable  .btn {
  padding: 5px;
}
