nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}

nav a {
  text-decoration: none;
  color: inherit;
}

nav a h1 {
  font-size: 2em;
}

div button {
  background-color: transparent;
  border: 2px solid var(--yellow);
  font-family: inherit;
  font-size: 1em;
  border-radius: 6px;
  color: var(--yellow);
  padding: 7px;
  cursor: pointer;
}

div button:hover {
  background-color: var(--yellow);
  color: var(--black);
}
