@import url("https://fonts.googleapis.com/css?family=Oswald");

:root {
  --black: #2b2c33;
  --yellow: #FFF490;
  --white: #f1f6f9;
}

body {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Oswald", sans-serif;
  background-color: var(--black);
  color: var(--yellow);
}

.makeStyles-paper-1 input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--yellow);
  width: 100%;
}

.makeStyles-paper-1 input[type="submit"] {
  margin-top: 40px;
  background-color: transparent;
  border: 2px solid var(--yellow);
  font-family: inherit;
  font-size: 1em;
  border-radius: 6px;
  color: var(--yellow);
  padding: 7px;
  cursor: pointer;
}

.makeStyles-paper-1 input[type="submit"]:hover {
  background-color: var(--yellow);
  color: var(--black);
}

.info-wrapper {
  justify-content: center;
  display: flex;
}

.info {
  font-size: 1.2em;
  border: 2px solid var(--yellow);
  border-radius: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.info .planet-name {
  font-size: 1.4em;
  border-bottom: 1px solid var(--yellow);
}

.info a {
  color: var(--white)
}
